@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  body {
    @apply font-sans;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid #f6f5f5;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.grecaptcha-badge {
  visibility: hidden !important;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.skeleton {
  background-color: #e0e0e0;
  border-radius: 8px;
  animation: pulse 1.5s infinite;
}

.skeleton-img {
  width: 100%;
  height: 180px;
}

.skeleton-text {
  height: 16px;
  width: 80%;
  margin-top: 10px;
}

.skeleton-title {
  height: 20px;
  width: 60%;
  margin-bottom: 8px;
}

.skeleton-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.loader {
  font-size: 6px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #100202,
      1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2),
      2.5em 0em 0 0em rgba(200, 200, 200, 0.2),
      1.75em 1.75em 0 0em rgba(200, 200, 200, 0.2),
      0em 2.5em 0 0em rgba(200, 200, 200, 0.2),
      -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2),
      -2.6em 0em 0 0em rgba(200, 200, 200, 0.5),
      -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.7),
      1.8em -1.8em 0 0em #0d0101,
      2.5em 0em 0 0em rgba(200, 200, 200, 0.2),
      1.75em 1.75em 0 0em rgba(200, 200, 200, 0.2),
      0em 2.5em 0 0em rgba(200, 200, 200, 0.2),
      -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2),
      -2.6em 0em 0 0em rgba(200, 200, 200, 0.2),
      -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.5),
      1.8em -1.8em 0 0em rgba(120, 30, 30, 0.7),
      2.5em 0em 0 0em #cccccc,
      1.75em 1.75em 0 0em rgba(200, 200, 200, 0.2),
      0em 2.5em 0 0em rgba(200, 200, 200, 0.2),
      -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2),
      -2.6em 0em 0 0em rgba(200, 200, 200, 0.2),
      -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.2),
      1.8em -1.8em 0 0em rgba(90, 10, 10, 0.5),
      2.5em 0em 0 0em rgba(200, 200, 200, 0.7),
      1.75em 1.75em 0 0em #cccccc,
      0em 2.5em 0 0em rgba(200, 200, 200, 0.2),
      -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2),
      -2.6em 0em 0 0em rgba(200, 200, 200, 0.2),
      -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(200, 200, 200, 0.2),
      1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2),
      2.5em 0em 0 0em rgba(200, 200, 200, 0.5),
      1.75em 1.75em 0 0em rgba(200, 200, 200, 0.7),
      0em 2.5em 0 0em #cccccc,
      -1.8em 1.8em 0 0em rgba(200, 200, 200, 0.2),
      -2.6em 0em 0 0em rgba(200, 200, 200, 0.2),
      -1.8em -1.8em 0 0em rgba(200, 200, 200, 0.2);
  }
}


.dealer-map-div iframe {
  width: 100%;
  height: 300px;
  /* Default height */
}

@media (min-width: 640px) {

  /* sm breakpoint */
  .dealer-map-div iframe {
    height: 350px;
  }
}

@media (min-width: 1024px) {

  /* lg breakpoint */
  .dealer-map-div iframe {
    height: 400px;
  }
}

.dealer-top-des {
  margin-top: 20px;
  color: #404c5d;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.284px;
  margin-bottom: 25px;
}